<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    {{>header}}
  
    <title>Registration Form</title>
  </head>
  <body class="body">
      {{>navbar}}
    
    <div class="container-fluid about-sec bg-light" id="about-sec" style="padding:0%;">
      <div class="row1">
        <div class="col-11 col-md-10 mx-auto">
          <div class="main-title">
           <h6><p>Hi,I am Siva</p></h6>
          </div>
          <div class="row">
            <div class="d-flex">
              <div class="hello">
                <div class="head">
                  <h3>Login Page</h3>
                </div>
                <div class="photo1">
                  <a class="nav-link d-flex justify-content-center"href="/login"><img class="Image" src="../images/img2.jpeg" alt="rgvgrrgege"></a><br>
                </div>
                
              </div>
              <div class="hello">
                <div class="head"><h3>Registration Page</h3></div>
                <div class="photo2">
                  <a class="nav-link d-flex justify-content-center" href="/register"><img class="Image" src="../images/img1.jpeg" alt="rgvgrrgege"></a><br>
                </div>
              </div>            
            </div>
          </div>
          <div class="end-title">
            <footer>
              &copy; 2023 @ Siva &rArr; Built with NodeJS and MongoDB
            </footer>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>