<header class="container-fluid nav_style mx-auto">
  <div class="row">
    <div class="col-md-10 col-11 mx-auto">
      <nav class="navbar sticky-top fixed-top navbar-expand-lg navbar-light">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="../images/logog.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <p class="p">Login/Registration Page</p>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link "href="/login">Login</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link "href="/register">Register</a>
                </li>
              </ul>
            </div> 
          </div>
      </nav>
    </div>
  </div>
</header>